<div class="home">
	<div class="post-list">
		{% for post in site.posts limit:10 %}

		<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} /
			{% for tag in post.tags %}
			<a href="{{ "/" | prepend: site.baseurl | append: {{tag}}/">{{tag}}</a>
			{% unless forloop.last %}, {% endunless%}
			{% endfor %}
		</span>

		<p>{% if page.summary %} {{ page.summary | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ post.content | truncatewords: 50 | strip_html }} {% endif %}</p>

		{% endfor %}

	<p>See more posts from the <a href="{{ "/news/archive.html" | prepend: site.baseurl }}">News Archive</a>. </p>
</div>
