<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<span class="fa-stack fa-5x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="panel-body">
				<h4>OBC Documentation</h4>
				<p>All you need to know about the OBC.</p>
				<a href="/obc-documentation/" class="btn btn-primary">Learn More</a>
			</div>
		</div>
	</div>
</div>
