<!DOCTYPE html>
<html lang="en">
<html>
<head>
	{% include head_print.html %}
</head>

<body class="{% if page.type == "title"%}title{% elsif page.type == "frontmatter" %}frontmatter{% elsif page.type == "first_page" %}first_page{% endif %} print">

	<!-- Page Content -->
	<div class="container">
		<!-- Content Column -->
		<div class="col-md-9">
			{{content}}
		</div>
	</div>    <!-- /.container -->
</body>
</html>
