---
layout: default
---

<div class="post-header">
	<h1 class="post-title-main">
		{% if page.homepage == true %} {{site.homepage_title}} {% else %}{{ page.title }}{% endif %}
	</h1>
</div>

<div class="post-content">
	{% if page.summary %}
	<div class="summary">{{page.summary}}</div>
	{% endif %}

	{% unless page.toc == false %}
		{% include toc.html %}
	{% endunless %}

	{% unless jekyll.environment == "production" %}

		{% if site.github_editme_path %}
			<a target="_blank" href="https://github.com/{{site.github_editme_path}}{% unless page.url contains "html" %}{{page.url | replace: '.html', '.md'}}{% endunless %}{% if page.url contains "html" %}{{page.url }}{% endif %}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>
		{% endif %}

	{% endunless %}

	{{content}}
		<div class="tags">
			{% if page.tags != null %}
				<b>Tags: </b>
				{% assign projectTags = site.data.tags.allowed-tags %}
				{% for tag in page.tags %}
					{% if projectTags contains tag %}
					<a href="{{ "/" | prepend: site.baseurl | append: tag }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>

		{% if site.disqus %}
			{% include disqus.html %}
		{% endif %}
</div>

{{site.data.alerts.hr_shaded}}
{% include footer.html %}
